[Unit]
Description=ISUTRAIN (Language {{ item }})
Requires=docker.service

[Service]
EnvironmentFile=-/home/isucon/isutrain/webapp/.env
Environment="PAYMENT_API={{ payment_api }}"

WorkingDirectory=/home/isucon/isutrain/webapp

Type=simple
ExecStartPre=/usr/bin/docker-compose -f docker-compose.yml -f docker-compose.{{ item }}.yml build
ExecStart=/usr/bin/docker-compose -f docker-compose.yml -f docker-compose.{{ item }}.yml up
ExecStop=/usr/bin/docker-compose -f docker-compose.yml -f docker-compose.{{ item }}.yml stop
ExecReload=/usr/bin/docker-compose -f docker-compose.yml -f docker-compose.{{ item }}.yml restart webapp

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
